.page-index {
	background: url(../img/pizza1.jpg) no-repeat center center fixed;
	background-size: cover;
	background-color: #EBECE4;
}

.page-about {
	background: url(../img/pizza-oven.jpg) no-repeat center center fixed;
	background-size: cover;
	background-color: #EBECE4;
}

.page-menu {
	background: url(../img/pizza-order.jpg) no-repeat center center fixed;
	background-size: cover;
	background-color: #EBECE4;
}

.container {
	background: rgba(255,255,255,0.7);
	border-radius: 5px;
	padding-top: 150px;
	padding-bottom: 150px;
}

@media screen and (max-width: 767px) {
	.video {
		display: none;
	}
}

.navbar-fixed-bottom {
	background: rgba(255,255,255,0.7);
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear: both;
	padding: 1em;
} 