@import url(reset.css);

body {
	font-family: 'Century Gothic', 'Calibri', sans-serif;
	font-size: 14px;
	background: url(../img/pizza1.jpg) no-repeat center center fixed;
	background-size: cover;
	background-color: #EBECE4;
}

.main {
	margin: 0px 190px 0px 190px;
	border: 2px solid #7A7066;
	padding: 20px;
	background-color: #FFF;
}

/* left and right menu bars to preempt for future assignments */
.left {
	position: absolute;
	left: 0px;
	width: 190px;
}

.right {
	position: absolute;
	right: 0px;
	width: 190px;
}

.logo {
	float: left;
	padding: 10px 0px 10px 0px;
}

h1 {
	font-size: 200%;
	text-transform: uppercase;
	text-align: right;
	color: #7A7066;
	background-color: #EBECE4;
	margin-top: 3em;
	padding: 5px 5px 5px 0px;
	border-radius: 5px;
}

.motto {
	font-size: 120%;
	text-align: right;
	color: #7A7066;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 5px 5px 5px 0px;
	background-color: #EBECE4;
	border-radius: 5px;
}

p {
	margin-bottom: 1em;
}

nav ul { 
	background-color: #EBECE4; 
	border-radius: 5px;
}

nav li {
	text-decoration: bold;
	display: inline-block;
	padding: 10px;
}

a:link {
	text-decoration: none; 
	color: #F1ABA3;
}

a:visited {
	text-decoration: none; 
	color: #A46A68;
}

a:hover, a:focus, a:active { 
	text-decoration: underline; 
	background-color: #F97175;
}

footer {
	margin: 0px 0px 40px 0px;
	padding: 20px 0px 0px 0px;
	border-style: solid;
	border-top-width: thin;
	border-color: #7A7066;
	font-size: 80%;
	font-style: italic;
}